<ly-paper elevation="3" lyP="1rem" lyHeight="100vh">
  <ly-grid container spacing="24">
    <ly-grid item col="12">
      <h1 lyTyp="headline" [gutterBottom]="true">Notifications</h1>
      <div [withClass]="classes.notifications">
        <ly-list>
          <ly-list-item>
            <admin-settings-mute-notifications
              ly-line
              (handleMute$)="handleMute($event)"
            ></admin-settings-mute-notifications>
          </ly-list-item>
        </ly-list>
      </div>
    </ly-grid>

    <ly-grid item col="12">
      <h1 lyTyp="headline" [gutterBottom]="true">Danger Zone</h1>
      <div [withClass]="classes.dangerZone">
        <ly-list>
          <ly-list-item>
            <admin-settings-terminate-sessions
              ly-line
              (handleTerminate$)="handleTerminate()"
            ></admin-settings-terminate-sessions>
          </ly-list-item>

          <ly-divider></ly-divider>

          <ly-list-item>
            <admin-settings-delete-account
              ly-line
              (handleDelete$)="handleDelete()"
            ></admin-settings-delete-account>
          </ly-list-item>
        </ly-list>
      </div>
    </ly-grid>
  </ly-grid>
</ly-paper>
