<ly-drawer-container [withClass]="classes.container">
  <ly-drawer
    ly-paper
    elevation="3"
    lyMy="1rem @XSmall"
    drawerWidth="256 100%@XSmall"
    hasBackdrop="false"
    [opened]="(opened$ | async)!"
    #drawer="lyDrawer"
  >
    <admin-drawer-menu
      [url$]="url$"
      [direction$]="direction$"
    ></admin-drawer-menu>
    <div [withClass]="classes.ctrls">
      <admin-drawer-layout-btn
        [layoutType$]="layoutType$"
        (changeLayout$)="changeLayout($event)"
      ></admin-drawer-layout-btn>
      <admin-drawer-dir-btn
        [direction$]="direction$"
        (toggleDirection$)="toggleDirection()"
      ></admin-drawer-dir-btn>
      <admin-drawer-logout-btn
        (handleLogout$)="handleLogout()"
      ></admin-drawer-logout-btn>
    </div>
  </ly-drawer>

  <ly-drawer-content>
    <ng-content select="[drawerProjection]"></ng-content>
  </ly-drawer-content>
</ly-drawer-container>
