<ly-paper elevation="3" lyHeight="100vh">
  <ly-tabs alignTabs="stretch" lyHeight="100%" [selectedIndex]="0">
    <ly-tab>
      <button ly-tab-label>
        <ly-icon>person</ly-icon>
        <span lyPe="0.25rem">You</span>
      </button>

      <admin-me-profile
        [username]="MOCK_DATA.username"
        [img]="MOCK_DATA.img"
      ></admin-me-profile>
    </ly-tab>

    <ly-tab>
      <button ly-tab-label>
        <ly-icon>edit</ly-icon>
        <span lyPe="0.25rem">Edit</span>
      </button>

      <admin-me-edit-form
        (handleSubmit$)="handleSubmit($event)"
      ></admin-me-edit-form>
    </ly-tab>
  </ly-tabs>
</ly-paper>
