<ly-drawer-container [withClass]="classes.container">
  <ly-drawer
    ly-paper
    elevation="3"
    lyMy="1rem"
    hasBackdrop="false"
    mode="side"
    drawerWidth="256"
    [opened]="opened"
    #drawer="lyDrawer"
  >
    <admin-drawer-menu></admin-drawer-menu>
    <div [withClass]="classes.ctrls">
      <admin-drawer-dir-btn
        [direction$]="direction$"
        (toggleDirection)="toggleDirection($event)"
      ></admin-drawer-dir-btn>
      <admin-drawer-logout-btn></admin-drawer-logout-btn>
    </div>
  </ly-drawer>

  <ly-drawer-content>
    <ng-content select="[drawerProjection]"></ng-content>
  </ly-drawer-content>
</ly-drawer-container>
